<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">
  <display-name>rembolsos</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>
	</context-param>
	
	<servlet>
	  <servlet-name>dwr</servlet-name>
	  <servlet-class>org.directwebremoting.spring.DwrSpringServlet</servlet-class>
	  <init-param>
	    <param-name>debug</param-name>
	    <param-value>true</param-value>
	  </init-param>
	  
		<!-- Enables <script> remoting -->
		<init-param>
		  <param-name>allowScriptTagRemoting</param-name>
		  <param-value>true</param-value>
		</init-param>
		
		<!-- Disables DWR's CSRF protection -->
		<init-param>
		  <param-name>crossDomainSessionSecurity</param-name>
		  <param-value>false</param-value>
		</init-param>
		
		<!-- Enables GET requests which are necessary for X-domain calls -->
		<init-param>
		  <param-name>allowGetForSafariButMakeForgeryEasier</param-name>
		  <param-value>true</param-value>
		</init-param>	  
	  
	</servlet>
	<servlet-mapping>
	  <servlet-name>dwr</servlet-name>
	  <url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
</web-app>